airportsdata==20250224
Cartopy==0.24.1
folium==0.19.6
GitPython==3.1.44
GitPython==3.1.44
iminuit==2.31.1
matplotlib==3.10.3
numpy==2.2.6
openap==2.2
pandas==2.2.3
pyarrow==19.0.1
pyproj==3.7.1
PyYAML==6.0.2
PyYAML==6.0.2
scipy==1.15.3
seaborn==0.13.2
xarray==2025.3.0
